<!DOCTYPE html>
<html lang="fr">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.GA_ID %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    window.gtag("js", new Date());
    window.gtag("config", "<%= htmlWebpackPlugin.options.GA_ID %>");
  </script>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <title>Gregoire Lacoste, freelance developpeur à Albi, React - Node</title>
  <meta name="description" content="Développeur web, mobile à Albi. Création d'application grand public ou métier, site e-commerce, vitrine, interactif...">
</head>

<body>
<div id="root">
  Chargement...
</div>
<noscript>
  Vous devez activer javascript pour naviguer sur ce site
</noscript>

</body>

</html>
